{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <br>
    <br>
    <a href="{% url 'aplicatie1:adaugare' %}" class="header_style">Adaugare</a>
    <table id="id_tabel">
        <thead class="header_style">
        <th>Index</th>
        <th>City</th>
        <th>Country</th>
        <th>Actions</th>
        </thead>
        <tbody>
        {% for item in all_locations %}
            <tr id="row-{{ item.id }}">
                <td>{{ forloop.counter }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.country|upper }}</td>
                <td><a class="btn btn-info" href="{% url 'aplicatie1:modificare' item.id %}">Edit</a>
                <a class="btn btn-danger" id="id_delete-{{ item.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/delete_company.js' %}"></script>
{% endblock %}