{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <form method="POST">
        {% csrf_token %}
          <div class="box">
            <div class="field">
                {% for field in form %}
                    <div class="row">
                        <label class="col-md-2  text-left" style="padding-top: 15px;">{{ field.label }}</label>
                        <div class="col-md-10">
                            <div class="form-group">
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="btn btn-default btn-round">Salveaza</button>
    </form>
{% endblock %}