{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <a href="{% url 'aplicatie1:adaugare' %}" class="header_style">Adaugare</a>
    <table id="id_tabel">
        <thead class="header_style">
        <th>Index</th>
        <th>City</th>
        <th>Country</th>
        <th>Actions</th>
        </thead>
        <tbody>
        {% for item in all_locations %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.country|upper }}</td>
                <td><a href="{% url 'aplicatie1:modificare' item.id %}">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}