{% extends '../base.html' %}
{% load static %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <p>Resetezi parola?</p>
        {% if validlink %}
            <div class="form-group">
                <label for="id_new_password1">New password</label>
                <input type="password" name="new_password1" id="id_new_password1" class="form-control">
                <label for="id_new_password2">Confirm password</label>
                <input type="password" name="new_password2" id="id_new_password2" class="form-control">
            </div>
            <button type="submit" class="btn btn-blue">Confirma parola</button>
            {% if form.new_password1.errors %} {{ form.new_password1.errors }} {% endif %}
            {% if form.new_password2.errors %} {{ form.new_password2.errors }} {% endif %}
        {% else %}
            <p>linkul nu este valid sau a fost deja utilizat</p>
        {% endif %}
    </form>
{% endblock %}