{% extends '../base.html' %}
{% load static %}
{% block content %}
    <p>Introdu adresa de email pentru care vrei sa resetezi contul</p>
    <form method="POST">
    {% csrf_token %}
        <div class="form-group">
            <label for="id_email">Email</label>
            <input type="text" name="email" id="id_email" class="form-control">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-blue">Reseteaza</button>
        </div>
    </form>
{% endblock %}